# ASSIGNMENTS - Compulsory
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## Python String Manipulation

1. Count the number of times `iNeuron` appears in the string.
```python
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
```
2. Check if position `5` to `11` ends with the phrase `iNeuron.` in the string 
```python
txt = "Hello, welcome to FSDS 2.0 at iNeuron."
```
3. Write a program that takes your full name as input and displays the abbreviations of the first and middle names except the last name which is displayed as it is. For example, if your name is Sunny Bhaveen Chandra, then the output should be S.B.Chandra.

4. Join all items in a list into a string, using a hash(`#`) character as separator:
```python
LIST = ["My", "name", "is", "Rishav", "Dash"]
```
5. Write example for the following string manipulation function,

  ```
  - isdecimal()
  - islower()
  - isupper()
  - isalpha()
  - isnumeric()

  ```
6. Indian PAN card format follows the following formats - 
    - `AYEPC7894X`
    - `ABCDE9999Y`
  Take user input for PAN_CARD and validate as per the above example.

In [4]:
text = "Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron"
print(text.lower().count("ineuron"))

3 Welcome to iNeuron, You are a part of FSDS Bootcamp 2 in iNeuron. I hope you are enjoying the course by iNeuron

In [6]:
text = "Hello, welcome to FSDS 2.0 at iNeuron."
print(text[5:12].lower().count("ineuron"))

0

In [18]:
text=input("Enter your full name, (for ex: Sunny Bhaveen Chandra):\n")
print(f"""{text.title().split(" ")[0][0]}.{text.title().split(" ")[1][0]}.{text.title().split(" ")[2]}""")

Enter your full name, (for ex: Sunny Bhaveen Chandra):
Sunny bhaVeen ChAndra
S.B.Chandra

In [20]:
a=""
LIST = ["My", "name", "is", "Rishav", "Dash"]
for i in LIST:
    a= a +" "+ i
print(a)

 My name is Rishav Dash

In [27]:
check= "02"
print(check.isdecimal())  # What should we use if we are having input with fraction ??
a = "check"
print(a.islower())
b = "AASFA"
print(b.isupper())
print(a.isalpha())
print(check.isnumeric())

True
True
True
True
True